body {
  height: 100vh;
  margin: 0 0;
  background: linear-gradient(
    0deg,
    #acacac 0%,
    rgb(0, 0, 0) 80%
  );
  font-family: Verdana, sans-serif;
}
main > div {
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

#contact_img {
  width: 30vw;
}
section a {
  text-decoration: none;
  color: #acacac;
}
section a:hover{
  color: #db9334;
}

main > h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10vh;
  color: white;
  text-shadow: 1px 1px rgb(106, 106, 106);
}

#contact_form {
  margin-left: 5vw;
  color: #acacac;
  background-color: rgb(19, 19, 19);
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #e4a86f;
}

#contact_form input,
#contact_form select {
  height: 30px;
  margin-bottom: 10px;
  width: 100%;
  padding: .5em;
  border: none;
  background: none;
  outline: 0;
  color: #dfdfdf;
  border-bottom: 1px solid #db9334;
}
#contact_form select {
  background-color: #db9334;
  padding: 0.5em;
  border-radius: 10px;
}

#submit_button {
  width: 100px !important;
  margin: 0 auto;
  background-color: #db9334;
  color: #f8f9f9;
  border-radius: 10px;
  padding: .3em;
}

#submit_button:hover {
  background-color: #0a192f;
  color: #f8f9f9;
  transform: scale(1.1);
  transition: 0.2s;
}

@media screen and (max-width: 850px) {
  main > h2 {
    margin-bottom: 10vh;
  }
  main > div > img {
    display: none;
  }
  #contact_form {
    margin-left: 0;
    width: 70vw;
  }
}

