.principal{
    display: flex;
    flex-direction: column;
    background-color: aquamarine;
    height: 100vh;
    background-image: url(./assets/fondo-mesa-lista.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    background-attachment: fixed;
    font-family: Verdana, sans-serif;
    
}
body{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.central{
    display: flex;
    flex-direction: row ;
    justify-content: space-evenly;
    align-items: center;  
    height: 100%;
    width: 100%;
    
}
section p {
    padding: 30px 250px 0px 200px;
    text-align: center;
    color: white;
    font-size: large;
}
.item_home {
    height: 150px;
    width: 200px;
    background-color: rgb(27, 30, 30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border-color: rgb(27, 30, 30);
    border: 1px solid whitesmoke;
    border-collapse: collapse;
    color: wheat;
}
.item_home:hover{
    background-color: black;

}
main a{
    color: #000;
    font-family: Verdana, sans-serif;
    font-size: larger;
    text-decoration: none;
}
main a:hover{
    color: #ee872d;
}
.footerhome{
    text-shadow: 1px 1px #a9a9a977;
    display: flex;
    justify-content: center;
   
}

/* barra navegación */

  .nav {
    text-align: center;
    font-size: 1rem;
    border-bottom: 1px solid hsla(0,0%,100%,0.1);
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
  }
  
  header nav h1 {
    text-shadow: 1px 1px #a9a9a977;
    font-size: 40px;
  }
  header nav h1 span {
    text-shadow: 1px 1px #ee9e59;
  }
  .nav-link {
    text-decoration: none;
    display: inline-block;
    padding: 13px 13px;
    color: #fff;
    margin-right: 5px;
  }
  
  .nav-link:hover {
    text-decoration:none;
    color: #070707;
    background-color: #ee872d;
    
  }
  .nav-link.current {
    border-bottom: 2px solid #ffffff;
  }
  .btn {
    padding: 10px 20px;
    font-size: 1rem;
  }
  @media (min-width: 768px) {
    .nav {
      font-size: 1.1rem;
      padding-left: 10px;
      padding-right: 10px;
    }
    .nav-link {
      padding: 20px 20px;
    }
}
@media screen and (max-width: 425px) {
    .central {
        display: flex;
        flex-direction: column;
    }
    section {        
        display: none;
    }
    header nav h1 {
        font-size: larger;
    }
}

@media screen and (max-width: 834px) {
    .central {
        display: flex;
        flex-direction: column;
    }
    section {
        display: none;
    }
    header nav h1 {
        font-size: larger;
    }
}

@media screen and (max-width: 1024px) {
    .central {
        display: flex;
        flex-direction: column;
    }
    body {background-color: black;
}
    
