body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: cursive;
    box-sizing: border-box;
}

/* Fieldset */

.form__fieldset {
    padding: 20px 40px;
}


/* Form */
label {
    line-height: 1.9rem;
}

.form__Venta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Table in form */
.table__Productos{
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
}

.table__legend{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.tr__principal{
    background-color: rgba(5, 26, 255, 0.342);
    border-collapse: collapse;
}

.tbody__row{
    border-bottom: 1px solid black;
    text-align: center;
}

.BotonesDePago button{
    
}


.btn__venta {
    width: 90%;
    height: 2rem;
    margin-top: 1em;
    background-color: rgba(46, 109, 246, 0.562);
    border: 0;
    border-radius: 25px;
}


