body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Verdana, sans-serif;
    box-sizing: border-box;
    background-color: black;
    color: #acacac;
}
header a {
    text-decoration: none;
    color: #acacac;
}
header a:hover{
    color: #db9334 ;
}

/* Fieldset */

.form__fieldset {
    padding: 20px 40px;
}

/* Tabla Platos Precios */
.table__Productos{
    margin: 10px auto;
    width: 80%;
    border-collapse: collapse;
}

.table__legend{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #db9334;
    font-weight: 900;
}

.tr__principal{
    background-color: #db9334;
    border-collapse: collapse solid 1px #db9334;
    color: black;
    border: 1px solid #db9334;

}

.tbody__row{
    border-bottom: 1px solid r#db9334;
    text-align: center;
    border: 0.5px solid #db9334;
}




/* Form */
label {
    line-height: 1.9rem;
}

.form__Venta{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.submit-btn{
    margin-top: 0.3em;
    background-color: white;
    border-radius: 25px;
    background-color: #db9334;
    border: 0;
    padding: 8px 20px;
    font-weight: bolder;
    cursor: pointer;
    margin: 10px 0px;
}
.submit-btn:hover{
    scale: 1.04;
}

/* Seccion tabla valores  */
.ventaDeProductos{
    border-collapse: collapse;
    outline: 1px double #db9334; 
}

.ventaDeProductos th{
    background-color: r#db9334;
    padding: 5px 10px;
   
}

.div__venta select, .div__venta input{
    background-color: #acacac;
}

.ventaDeProductos td{
    text-align: center;
    padding: 2px 5px;
}


.ventaDeProductos td:nth-child(1){
    border-top: 1px solid #db9334;
    border-bottom: 1px solid #db9334;
    font-weight: bolder;
    background-color: #db9334;
    color: black;
}

/* #valorTotal{
   background-color: #db9334;
   font-weight: bolder;
   color: black;
} */

/* #valorTotal::before{
    content: "$";
} */

/* Seccion Pago */

.BotonesDePago button{
    cursor: pointer;
}

.div__venta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.btn__venta {
    width: 90%;
    height: 2rem;
    margin-top: 1.2em;
    background-color: #db9334;
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bolder;
}

.btn__venta:hover{
    scale: 1.03;
}

